*{
    padding: 0;
    margin: 0;
}
@font-face{
	font-family: Rubik;
	src: url(../fonts/Rubik-VariableFont_wght.ttf);}
.container{ 
    width: 1440px;
    height: auto;
    margin: 0 auto;}
.header{
    margin-top: 32px;
    width: 1180px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo_img{
    margin-right: 11.88px;
}
.logo-p{
    color:#333;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
}
.search{
    width: 320px;
	height: 25px;
	border: none;
	border-bottom: 1px #333 solid;
	outline: none ;
	color: var(--Gray-1, #333);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    margin-right: 32px;
}
.search::placeholder{
    color: var(--Gray-3, #828282);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.search_p{
    border: none;
    background: none;
    color: var(--red, #E5261E);
    font-weight: 500;
    font-family: Rubik;
    font-size: 16px;
}
.login{
	width: 113px;
	height: 38px;
	border-radius: 4px;
    background: var(--green, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #E5261E);
    background-color: #E5261E;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.login:hover{
	background-color: #CC221B;}
.unlogin_cont{
    display: flex;
    }
.unlogin_p{
    display: flex;
    color: var(--Gray-1, #333);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    margin-right: 16px;
}
.unlogin{
    border: none;
    background: none;
    color: var(--red, #E5261E);
    font-weight: 500;
    font-family: Rubik;
    font-size: 16px;
}
.black {
    display: flex;
	background: rgba(0,0,0,0.7);
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	z-index: 9999;
    justify-content: center;
    align-items: center;
}
.cont_login{
    display: flex;
    width: 304px;
    height: 394px;
    border-radius: 10px;
    background-color: #FFF;

}
.login_cont2{
    display: flex;
    flex-direction: column;
}
.vhod_p{
    color: var(--Gray-1, #333);
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 36px;
}
.dann{
    margin-top: 24px;
}
.login_login{
    margin-top: 24px;
    display: flex;
    width: 232px;
    height: 25px;
    flex-shrink: 0;
    border: 0;
    border-bottom: 1px solid #828282;
    margin: 0 36px 24px 36px;
    font-family: Rubik;}
.login_login:focus{
    outline: none;
    border-bottom: 1px #333 solid;
}
.login_password{
    margin-top: 24px;
    display: flex;
    width: 232px;
    height: 25px;
    flex-shrink: 0;
    border: 0;
    border-bottom: 1px solid #828282;
    margin: 0 36px 24px 36px;
    font-family: Rubik;}
.login_password:focus{
    outline: none;
    border-bottom: 1px #333 solid;}

.check{
    display: flex;
    color: var(--Gray-1, #333);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
}
.login_check{
    margin-right: 8px;
    margin-left: 36px;
}
.btn_login{
    display: flex;
}
.login_enter{
    margin-top:111px;
    margin-left: 96px;
	width: 113px;
	height: 38px;
	border-radius: 4px;
    background: var(--green, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #E5261E);
    background-color: #E5261E;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.login_enter:hover{
	background-color: #CC221B;}
main{
    margin-left: 130px;
}
.films_TV{
	margin-top: 44px;
	display: flex;
	justify-content: center;
}
.TV{
	outline: none;
	border:none;
	background: none;
	color: var(--Gray-1, #333);
    text-align: right;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
.TV:focus{
    color: #E5261E;
    border-bottom: 1px Solid #E5261E;}

.films{
	outline: none;
	border:none;
	background: none;
	color: var(--Gray-1, #333);
    text-align: right;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 23px}
.films:focus{
    color: #E5261E;
    border-bottom: 1px Solid #E5261E;}
.new{
    color: var(--Gray-1, #333);
    text-align: left;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 41px 0 20px 0;}
.filmi{
    display: flex;
    margin-top: 16px; 


}
#cat, #batman, #hollywood, #strip{
    border-radius: 10px;}
#cat,#batman,#hollywood,#strip {
    object-fit: cover;
    height: 370px;
    width: 280px;
    margin-right: 20px;}


figure{
    color: black;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
}
.janrs_p{
    color: var(--Gray-1, #333);
    text-align: left;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 41px 0 20px 0;
}
.janrs{
    display: flex;
}
#km{
    width: 280px;
    height: 208px;
    border-radius: 6px;
    background: linear-gradient(128deg, #F2C94C 8.44%, #F29A4A 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
    margin-right: 20px;
    opacity: 0.9;
}
#dr{
    width: 280px;
    height: 208px;
    border-radius: 6px;
    opacity: 0.9;
    background: linear-gradient(128deg, #F2994A 8.44%, #EB5757 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
    margin-right: 20px;
}
#in{
    width: 280px;
    height: 208px;
    border-radius: 6px;
    opacity: 0.9;
    background: linear-gradient(128deg, #56CCF2 8.44%, #2F80ED 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
    margin-right: 20px;
}
#by{
    width: 280px;
    height: 208px;
    border-radius: 6px;
    opacity: 0.8;
    background: linear-gradient(128deg, #828282 8.44%, #333 91.36%);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;
}
#km:hover,#dr:hover,#in:hover,#by:hover{
    opacity: 1;
}
#janrs_text{
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#emj{
    margin: 80px 116px 32px 116px;}
.blocki{
    margin-top: 36px;
    width: 1180px;
    height: 162px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Gray-6, #F2F2F2);
    display: flex;
}
.perviy{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    margin-left: 175px;
    margin-right: 175px;
}
.dvaxdva{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    margin-left: 143px;
    margin-right: 143px;
}
.rbk{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    margin-left: 172px;
    margin-right: 172px;
}
.amedia{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    margin-left: 168px;
    margin-right: 168px;
}
.name_ch{
    margin: 21px 0 12px 0;
    color: var(--Gray-1, #333);
    font-family: Rubik;
    font-size: 20px;
}
.krasniy_text{
    display: flex;
    flex-direction: column;
    color: var(--red, #E5261E);
    font-family: Rubik;
    font-size: 16px;
}
.simple_text{
    height: 24px;
    font-family: Rubik;
    font-size: 16px;
    margin: 12px 0 -5px 0;
}
footer{
    margin-left: -210px;

    width: 129%;
    height: 120px;
    background: var(--Gray-6, #F2F2F2);
    margin-top: 72px;
    display: flex;
    font-family: Rubik;
   }
.foot_logo{
    margin: 28px 40px 28px 340px;
}
.foot_txt{
	display:flex;	
    width: 940px;
}
.footer_text{
	color: var(--Gray-1, #333);
    font-family: Rubik;
    font-size: 16px;	
    align-self: start;
    margin-top: 22px;
    line-height: 26px;
}
.ssal{
	color: var(--htc-color, #1F4766);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px ;
    border: none;
    outline: none;
    margin-top: 4px;
}
@media screen and (max-width: 390px){

.container,
footer{
    width: 390px;
    }
.header {
    flex-direction: column;
    height: auto;
    }
    
.search_form{
    display: flex;
    flex-direction: column;
    }
.filmi{
    display: flex;
    flex-direction: column;
    }
.janrs{
    display: flex;
    flex-direction: column;
    }
main{
    margin:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
#km,#dr,#in,#by{
    margin-bottom: 16px;
    }
.foot_text{
    font-size: 11px;
    }
.foot_logo{
    margin: 28px 40px 28px 30px;
    }
.search{
    width: auto;
    margin-bottom: 8px;
    }
.search_p{
    margin-bottom: 8px;
}